body {
  background-color: burlywood;
  font-family: sans-serif;
  padding: 20px;
}
#Container7 {
  height: 400px;
  display: flex;
  align-items: stretch;
}
#Container7 div {
  border-style: solid;
  width: 100px;
  border-width: 1px;
  text-align: center;
  background-color: antiquewhite;
}
#Container11 {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
#Container11 div {
  border-style: solid;
  width: 100px;
  border-width: 1px;
  text-align: center;
  background-color: antiquewhite;
}
